<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <link href="/webjars/bootstrap/5.3.0/dist/css/bootstrap.css" rel="stylesheet"/>
  <script type="text/javascript" src="/webjars/bootstrap/5.3.0/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/webjars/jquery/3.7.0/dist/jquery.min.js">  </script>
  <script th:src="@{/js/Cascade_LOV_for_Schema_and_table.js}"></script>
  <title>Add Meta Data</title>
</head>

<body>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="#"><h3>DATA QUALITY AS A SERVICE</h3></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
        </li>
        <li class="nav-item">
        </li>
      </ul>
    </div>
    <a class="navbar-brand" href="/logout">Logout</a>
  </div>
</nav>

<h4>Data <span th:text="${parameter}"></span></h4>




<form action="#" th:object="${metadata_searchDTO}" method="post" th:action="@{search}" enctype="multipart/form-data">
  <table class="table table-bordered table-striped" style="width: 100%">
    <tr>
      <td>
        <label>Campaign:</label>
      <select id="search_campaign_name" name="search_campaign_name" th:field="*{campaign_name}">
        <option th:each="campaign_name : ${campaign}"
                th:value="${campaign_name}"
                th:text="${campaign_name}"
                th:selected="${campaign_name} == *{campaign_name}"></option>
      </select>
        <input class="btn btn-outline-dark" type="submit"  value="Search" Style="color:green; text-decoration: underline"/>
    </td>
    </tr>
  </table>
</form>


<!-- Button to Open the Modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addMetadataModal">
  Add Metadata
</button>
<table class="table table-bordered table-striped" th:with="inx=0">
  <thead>
  <tr>
    <td>Seq</td>
    <td>Schema</td>
    <td>Table Name</td>
    <td>Column Name</td>
    <td>Check</td>
    <td>Campaign</td>
    <td>Remove</td>
  </tr>
  </thead>
  <tbody>
  <tr th:each="metadatamodel, iterStat : ${metadataPage.content}" th:if="${metadatamodel.dbsource == parameter}" th:with="inx=${inx + 1}">
    <form action="#" method="post" th:action="@{delete/__${metadatamodel.Id}__}">
      <td th:text="${iterStat.index + 1}"></td>
      <td th:text="${metadatamodel.dbschema}"></td>
      <td th:text="${metadatamodel.dbtable}"></td>
      <td th:text="${metadatamodel.dbcolumn}"></td>
      <td th:text="${metadatamodel.dbcheck}"></td>
      <td th:text="${metadatamodel.campaign_name}"></td>
      <td>
        <button class="btn btn-outline-dark" type="submit" style="color:blue;text-decoration:underline">Delete</button>
      </td>
    </form>
  </tr>
  </tbody>
</table>

<div>
  <ul class="pagination">
    <li th:classappend="${metadataPage.hasPrevious()} ? 'enabled' : 'disabled'">
      <a th:href="@{/metadata/getAll( trans=${param.trans}, campaign_name=${param.campaign_name},page=${metadataPage.number - 1})}">Previous - </a>
    </li>
    <li th:each="i : ${#numbers.sequence(0, metadataPage.totalPages - 1)}"
        th:classappend="${i == metadataPage.number} ? 'active'">
      <a th:href="@{/metadata/getAll( trans=${param.trans}, campaign_name=${param.campaign_name},page=${i})}" th:text="${i + 1}">1</a>
    </li>
    <li th:classappend="${metadataPage.hasNext()} ? 'enabled' : 'disabled'">
      <a th:href="@{/metadata/getAll( trans=${param.trans}, campaign_name=${param.campaign_name},page=${metadataPage.number + 1})}">Next</a>
    </li>
  </ul>
</div>


<!-- -------------------------------------------------------------------------------------------------------- -->

<!-- The Modal -->
<div class="modal" id="addMetadataModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Add Metadata</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal Body -->
      <div class="modal-body">
        <form action="#" th:object="${metadatamodel}" method="post" th:action="@{saveNew}" enctype="multipart/form-data">

          <!-- Include your form fields here -->
          <div class="mb-3">
            <label for="dbschema" class="form-label">Schemas:</label>
            <select id="dbschema" name="dbschema" th:field="*{dbschema}" class="form-select" required>
              <option th:each="schema_name : ${schemaNames}" th:value="${schema_name}" th:text="${schema_name}"></option>
            </select>
          </div>

          <div class="mb-3">
            <label for="dbtable" class="form-label">Tables:</label>
            <select id="dbtable" name="dbtable" th:field="*{dbtable}" class="form-select" required>
              <option th:each="table_name : ${tableNames}" th:value="${table_name}" th:text="${table_name}"></option>
            </select>
          </div>

          <div class="mb-3">
            <label for="dbcolumn" class="form-label">Column:</label>
            <select id="dbcolumn" name="dbcolumn" th:field="*{dbcolumn}" class="form-select" required>
              <option th:each="columns_Names : ${columnsNames}" th:value="${columns_Names}" th:text="${columns_Names}"></option>
            </select>
          </div>

          <div class="mb-3">
            <label for="campaign_name" class="form-label">Campaign:</label>
            <select id="campaign_name" name="campaign_name" th:field="*{campaign_name}" class="form-select" required>
              <option th:each="campaign_name : ${campaign}" th:value="${campaign_name}" th:text="${campaign_name}"></option>
            </select>
          </div>

          <div class="mb-3">
            <label for="dbcheck" class="form-label">Check:</label>
            <select multiple id="dbcheck" name="dbcheck" th:field="*{dbcheck}" class="form-select" required>
              <option th:each="rulemetanames : ${ruleMetaNames}" th:value="${ruleMetaNames}" th:text="${ruleMetaNames}"></option>
            </select>
          </div>

          <input type="hidden" id="dbsource" name="dbsource" th:value="${parameter}">

          <!-- Add other fields similarly -->
          <button type="submit" class="btn btn-primary">Add</button>
        </form>
      </div>

      <!-- Modal Footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
</form>
<!-- ---------------------------------------------------------------------------------------------------------- -->




</body>
</html>