<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <link href="/webjars/bootstrap/5.3.0/dist/css/bootstrap.css" rel="stylesheet"/>
  <script type="text/javascript" src="/webjars/bootstrap/5.3.0/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/webjars/jquery/3.7.0/dist/jquery.min.js"></script>
  <title>Add Meta Data</title>
</head>
<body>
<br><br><br>

<button class="btn btn-outline-dark">
	<a th:href="@{addNew}">Add Metadata<i class="fas fa-wrench"></i></a>
</button>


<table class="table table-stripped">
	<thead>
	<tr>
		<td>Id</td>
		<td>Schema</td>
		<td>Table Name</td>
		<td>Column Name</td>
		<td>Check</td>
		<td></td>
		<td>Remove</td>
	</tr>
	</thead>
	<tr th:each="metadatamodel:${metadatamodels}">
		<form action="#" method="post" th:action="@{delete/__${metadatamodel.Id}__}">
			<td th:text="${metadatamodel.Id}"></td>

			<td th:text="${metadatamodel.dbschema}"></td>
			<td th:text="${metadatamodel.dbtable}"></td>
			<td th:text="${metadatamodel.dbcolumn}"></td>
			<td th:text="${metadatamodel.dbcheck}"></td>

			<td> <button class="btn btn-outline-dark" type="button">
				<a th:href="@{edit/__${metadatamodel.Id}__}">Edit</a>
			</button>
			</td>
			<td>
				<button class="btn btn-outline-dark" type="submit" Style="color:blue;text-decoration:underline">
					Delete
				</button>
			</td>
		</form >
	</tr>
</table>


</body>
</html>